.mySwiper{
  
  background-color: white;
  /* width:calc(1920px - 450px); */
  height: 600px;
}

.swiper-wrapper{
  width: 100% !important;
  flex-direction: row !important;
  /* justify-content: center !important; */
  align-items: center !important;

}
.swiper-slide{
  width: 350px !important;
  height: 509px !important;
  margin-left: 11px !important;
  margin-right: 8px !important;

}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}
.custom-next {
  display: block !important;
  right: 100px !important;
}
.custom-next svg,
.custom-prev svg {
  width: auto !important;
  height: auto !important;
}
.custom-prev {
  display: block !important;
  transform: scaleX(-1);
  left: 200px !important;
}
.swiper-pagination {
  bottom: 40px !important;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: white !important;
}
@media (min-width: 1200px) {
  .custom-next svg,
  .custom-prev svg {
    width: 70px !important;
    height: 70px !important;
  }
  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
  }
}

@media (min-width: 992px) {
  .custom-next {
    right: 100px !important;
  }
  .custom-prev {
    left: 100px !important;
  }
}
